%h1 Topics
.row
	.col-md-8
		- @topics.each do |topic|
			.media
				%h4.media-heading
					= link_to topic.title, topic
				= link_to "Delete Topic", topic, method: :delete, class: 'btn btn-sm btn-danger'
	.col-md-4
		= link_to "New Topic", new_topic_path, class: 'btn btn-md btn-success'