.container
	%h1 FAQ
	%br
	.row
		%h3 How do I get an avatar?
		%hr
		%p
			It's easy to set up an avatar. Go to
			%a{:href => "https://en.gravatar.com/", :target => "_blank"} Gravtar.com
			and register an account with the same email
			as your MarkShare email. Once you upload a picture to Gravatar, it will appear here on MarkShare. 
			It links simply by using the same email address.
