.row
	.jumbotron
		%h1.title-primary MarkShare
		%h4.subTitle Bookmarks should be shared
		- if !user_signed_in?
			= link_to "Get Started", new_user_registration_path, :class => 'btn btn-success bannerBtn btn-lg'
	.container
		%p Welcome to MarkShare