// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron {
	text-align: center;
	background-color: $brand-primary;
	padding: 15px 0;
	height: 500px;
}

.title-primary {
	letter-spacing: 10px;
	margin-bottom: 8px;
	font-size: 8rem;
}

.subTitle {
	margin-bottom: 100px;
	font-size: 2.5rem;
}